[submodule "dlang/parser/libdparse"]
	path = dlang/parser/libdparse
	url = https://github.com/dlang-community/libdparse.git
[submodule "dubmanager/libsdlang"]
	path = dubmanager/libsdlang
	url = https://github.com/code-disaster/libsdlang.git
